/**
 * This file is for cards css.
 * root-modifier('.card--list') = standard cards
 * root-modifier('.card--carousel-list')= carousel cards
 */
@import "../global-includes";

.card {
  padding-top: 40px;
  padding-bottom: 50px;

  &--list {
    .page-is-fullwidth & {
      @include container(1300px);
    }
  }

  &__header {
    text-align: center;
    padding-bottom: 20px;
  }

  &__wrap {

    @include root-modifier('.card--list') {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      margin-left: -16px;
      margin-right: -16px;
    }
  }

  &__item {

    @include root-modifier('.card--list') {
      margin-right: 16px;
      margin-left: 16px;
      box-shadow: 0 12px 24px 0 rgba(192, 192, 192, 0.2);
    }

    @include mq($until: large) {
      margin-bottom: 30px;
    }

    @include root-modifier('.card--list') {
      width: 100%;
    }

    @include root-modifier('.card--list') {
      @include mq($from: large) {
        width: 30%;
      }
    }
  }

  &__item-inner {
    @include root-modifier('.card--carousel-list') {
      box-shadow: 0 12px 24px 0 rgba(192, 192, 192, 0.2);
    }
  }

  &__media {

    img {
      width: 100%;
      height: 223px;
      object-fit: cover;
      object-position: 50% 80%;

      @include mq($until: large) {
        object-position: 50% 25%;
        height: 370px;
      }

      @include mq($from: medium_plus) {
        height: 223px;
      }

      @include ie11 {
        height: auto;
      }
    }
  }

  &__content {
    text-align: center;
    padding: 20px;
    background-color: $c-white;

    h2 {
      @include rem(font-size, 24px);
      letter-spacing: 0.6px;
      color: $c-black;
    }
  }

  // Slide controls.
  .tns-controls {
    display: flex;
    list-style: none;
    justify-content: center;

    span {
      @include visually-hidden();
    }

    button {
      border: 0;
      background-color: transparent;
      position: relative;
      margin: 0;
      padding: 0 4px;
      cursor: pointer;

      &[data-controls="prev"] {
        @include icon-after(next-control, 38px, 38px, $position: relative, $rotate: 180);

        #{$a-tags-hover} {
          @include icon-after(next-control-hover, 38px, 38px, $position: relative, $rotate: 180);
        }
      }

      &[data-controls="next"] {
        @include icon-after(next-control, 38px, 38px, $position: relative, $rotate: 0);

        #{$a-tags-hover} {
          @include icon-after(next-control-hover, 38px, 38px, $position: relative, $rotate: 0);
        }
      }
    }
  }

  .tns-ovh {
    @include full-width();

    @include mq($from: large) {
      height: 400px;
    }
  }

  .tns-inner {
    max-width: 80%;
    margin: 0 auto !important;
  }

  .tns-nav {
    @include visually-hidden();

    + button {
      @include visually-hidden();
    }
  }
}
