/*
Accordion styling.
 */
@import "../global-includes";

.filtered-list {
  padding-top: 10px;
  margin-bottom: 20px;
  padding-bottom: 10px;

  &.remove-top-padding {
    padding-top: 0;
    margin-top: 0;
  }

  @include mq($from: medium) {
    padding-top: 30px;
    margin-bottom: 40px;
    padding-bottom: 20px;
  }

  &__header {
    padding: 10px 0 20px 0;

    @include mq($from: medium) {
      padding: 20px 0 40px 0;
    }
  }

  &__title {
    text-align: center;

    > h2 {
      line-height: normal;
      letter-spacing: 1.13px;
      margin-bottom: 0;
    }
  }

  &__view {
    max-width: 1262px;
    margin: 0 auto;
  }

  &__full-width-bg {
    @include full-width();
  }

  &--bg-gray {
    background-color: $c-light-gray;
  }

  &--bg-medium-blue {
    background-color: $c-med-blue;
  }

  &--bg-blue {
    background-color: $c-navy;
  }

  &--bg-orange {
    background-color: $c-orange;
  }

  &--bg-blue,
  &--bg-orange,
  &--bg-medium-blue {

    .l-content & {

      .filtered-list__header * {
        color: $c-white;
      }
    }
  }

  .overline {
    text-align: center;
  }
}

.news-media-filter {
  margin-bottom: 60px;

  .js-form-type-select {

    > label {
      @include visually-hidden();
    }

    &:before {
      display: none;
    }
  }
}

// Styling BEF Checkboxes to be like links so AJAX works.
.views-exposed-form.bef-exposed-form {

  // Reset from global.
  .js-form-type-radio.form-item {
    margin-bottom: 0;
  }

  .form-radios.bef-nested {

    > ul {
      display: flex;
      justify-content: center;
      list-style: none;
      padding: 0;
      margin: 0;

      @include mq($until: large) {
        flex-direction: column;
      }

      .profile-teaser & {
        @include mq($until: large_plus) {
          flex-direction: column;
        }
      }
    }
  }

  // We don't need this to be visible.
  legend {
    @include visually-hidden();
  }

  label:after,
  label:before {
    display: none !important;
  }

  input.form-radio {
    @include visually-hidden();

    // Changes the label if the input is checked.  Like an active state.
    &:checked + label {
      background-color: $c-med-blue;
      color: $c-white;
    }
  }

  // Styling label like our links.
  label {
    cursor: pointer;
    @include rem(font-size, 16px);
    color: $c-charcoal;
    background-color: $c-gray;
    display: block;
    text-decoration: none;
    padding: 16px 46px 16px 46px;

    .profile-teaser & {
      padding: 16px 21px 16px 21px;
      @include rem(font-size, 15px);

      @include mq($from: large) {
        @include rem(font-size, 15px);
      }

      @include mq($from: large, $until: wide) {
        padding: 16px 8px 16px 8px;
        @include rem(font-size, 14px);
      }
    }

    @include mq($until: large) {
      margin-right: 0;
    }

    @include mq($from: large) {
      border-radius: 4px;
    }

    // Which means we need to add a hover state.
    #{$a-tags-hover} {
      background-color: $c-orange;
      color: $c-white;
    }
  }
}
