/**
 * This file is for the hero component.
 */
@import "../global-includes";

.hero {
  padding-bottom: 10px;

  .hero-has-linksbar & {
    padding-bottom: 0;
  }

  @include mq($from: large) {
    padding-bottom: 30px;

    &.bottom-padding-remove {
      padding-bottom: 0;
    }

    .hero-has-linksbar.node--view-mode-hero & {
      padding-bottom: 0;
    }
  }

  &__wrap-inner {
    position: relative;
  }

  &__media {
    position: relative;

    img {
      width: 100%;

      @supports (object-fit: contain) {
        object-fit: cover;
      }

      @include root-modifier('.hero--has-overlay') {
        filter: brightness(.6);
      }

      @include mq($until: medium) {
        height: 320px;
        object-position: 75% 50%;
        filter: brightness(.6);
      }

      @include mq($from: medium, $until: large) {
        height: 330px;
        object-position: 75% 50%;
      }

      @include mq($from: large) {
        height: 370px;
      }

      @include mq($from: x_wide) {
        height: 40vh;
        width: 100vw;
        object-position: 0 10%;
      }

      .hero-has-linksbar.node--view-mode-hero & {
        @include mq($from: medium, $until: large) {
          height: 478px;
        }
      }
    }
  }


  &__title {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    display: flex;

    h1 {
      @include inverse();
      @include text-shadow();
      max-width: 100%;
    }
  }

  &__text {

    * {
      color: $c-white;
    }
  }

  &__title-inner {

    @include mq($until: wide) {
      padding-left: 20px;
      padding-right: 20px;
    }

    @include mq($from: wide) {
      max-width: 40%;
    }
  }

  &__title-wrap {

    @include mq($from: large) {
      width: 1250px;
      margin: 0 auto;
    }
  }

  &__background-video {
    position: relative;
  }

  &__video-container {
    height: 490px;
  }

  &__background-image {
    .media--type-image {
      margin-top: 0;
      margin-bottom: 0;
    }
  }
}
