/**
 * This file is for the linksbar component.
 */
@import "../global-includes";

.links-bar {

  .component__item & {
    padding-top: 10px;
    padding-bottom: 40px;
  }

  .hero-has-linksbar.node--view-mode-hero & {
    position: relative;
    z-index: 1001;
    margin-bottom: 30px;

    @include mq($from: large) {
      margin-top: -57px;
    }
  }

  &__wrap {
    display: flex;
    justify-content: center;

    @include mq($until: large) {
      flex-direction: column;
    }
  }

  a:not(.btn) {
    @include rem(font-size, 16px);
    display: block;
    color: $c-white;
    @include link-effect();
    padding: 18px 74px;
    line-height: 1.8;
    letter-spacing: 3px;
    background-color: $c-med-blue;
    text-align: center;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    text-decoration: none;
    -webkit-appearance: none;
    -ms-appearance: none;
    -moz-appearance: none;
    appearance: none;
    overflow: hidden;

    #{$a-tags-hover} {
      background-color: $c-orange;
    }
  }

  &__item {
    &--index-1 {
      a:not(.btn) {
        background-color: #3e5577;
      }
    }

    // Note, index 2 is the default med-blue color.
    &--index-3 {
      > a:not(.btn) {
        background-color: #4e678c;
      }
    }

    &--index-4 {
      > a:not(.btn) {
        background-color: #557097;
      }
    }
  }
}
