/* garamond-regular - latin */
@font-face {
  font-family: 'EB Garamond';
  font-style: normal;
  font-weight: 400;
  src: url('../../fonts/eb-garamond-v14-latin-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
  url('../../fonts/eb-garamond-v14-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../../fonts/eb-garamond-v14-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
  url('../../fonts/eb-garamond-v14-latin-regular.woff') format('woff'), /* Modern Browsers */
  url('../../fonts/eb-garamond-v14-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
  url('../../fonts/eb-garamond-v14-latin-regular.svg#EBGaramond') format('svg'); /* Legacy iOS */
  font-display: swap;
}

// Helvetica Neue regular.
@font-face {
  font-family: "HelveticaNeueLTW04-55Roman";
  src: url("../../fonts/HelveticaNeueLTW04-55Roman.eot?#iefix") format("eot"),
  url("../../fonts/HelveticaNeueLTW04-55Roman.woff2") format("woff2"),
  url("../../fonts/HelveticaNeueLTW04-55Roman.woff") format("woff"),
  url("../../fonts/HelveticaNeueLTW04-55Roman.ttf") format("truetype");
  font-display: swap;
}

// Helvetica Neue medium.
@font-face {
  font-family: "HelveticaNeueLTW04-65Medium";
  src: url("../../fonts/HelveticaNeueLTW04-65Medium.eot?#iefix") format("eot"),
  url("../../fonts/HelveticaNeueLTW04-65Medium.woff2") format("woff2"),
  url("../../fonts/HelveticaNeueLTW04-65Medium.woff") format("woff"),
  url("../../fonts/HelveticaNeueLTW04-65Medium.ttf") format("truetype");
  font-display: swap;
}
