// Global box sizing / border-box. (This goes first before anything else.)
html {
  box-sizing: border-box;
  overflow-x: hidden;
  margin-right: calc(-1 * (100vw - 100%));
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

/**
 * This file is for some base settings.
 */
@import "../global-includes";

// Note, normalize in this file only.
@import "../normalize";
