@import "../global-includes";

table {
  @include rem(font-size, 17px);
  border-collapse: collapse;
  margin: 25px 0 60px 0;
  width: 100%;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);

  thead tr {
    background-color: $c-orange;
    color: $c-white;
    text-align: left;

    a {
      color: #fff;
    }
  }

  th,
  td {
    padding: 12px 15px;
  }

  tbody tr {
    border-bottom: 1px solid #ddd;
  }

  tbody tr:nth-of-type(even) {
    background-color: #eaeaea;
  }

  tbody tr:last-of-type {
    border-bottom: 2px solid $c-orange;
  }

  tbody tr.active-row {
    font-weight: bold;
    color: $c-orange;
  }

  caption {
    @include rem(font-size, 20px);
    font-weight: 600;
    color: $c-white;
    background-color: $c-charcoal;
    padding: 10px;
  }
}

