.ico {
  background-image: url("../src/icon/icons.svg");
}

.arrow {
  background-position: 100% 28.29268292682927%;
}

.arrow-dims {
  width: 18px;
  height: 18px;
}

.arrow-white {
  background-position: 100% 19.51219512195122%;
}

.arrow-white-dims {
  width: 18px;
  height: 18px;
}

.contract-icon {
  background-position: 97.94238683127573% 47.48858447488585%;
}

.contract-icon-dims {
  width: 13px;
  height: 4px;
}

.download-icon {
  background-position: 0 100%;
}

.download-icon-dims {
  width: 22px;
  height: 23px;
}

.download-icon-white {
  background-position: 9.401709401709402% 100%;
}

.download-icon-white-dims {
  width: 22px;
  height: 23px;
}

.dropdown-arrow {
  background-position: 91.74311926605505% 11.5%;
}

.dropdown-arrow-dims {
  width: 38px;
  height: 23px;
}

.dropdown-arrow-1 {
  background-position: 95.58232931726907% 55.39906103286385%;
}

.dropdown-arrow-1-dims {
  width: 7px;
  height: 10px;
}

.dropdown-arrow-2 {
  background-position: 97.99196787148594% 50.70422535211268%;
}

.dropdown-arrow-2-dims {
  width: 7px;
  height: 10px;
}

.dropdown-arrow-white {
  background-position: 91.74311926605505% 0;
}

.dropdown-arrow-white-dims {
  width: 38px;
  height: 23px;
}

.expand-icon {
  background-position: 97.94238683127573% 43.333333333333336%;
}

.expand-icon-dims {
  width: 13px;
  height: 13px;
}

.icon-carrot-left {
  background-position: 64.1025641025641% 81.30081300813008%;
}

.icon-carrot-left-dims {
  width: 100px;
  height: 100px;
}

.icon-menu-trigger {
  background-position: 0 0;
}

.icon-menu-trigger-dims {
  width: 100px;
  height: 100px;
}

.icon_location {
  background-position: 0 81.30081300813008%;
}

.icon_location-dims {
  width: 100px;
  height: 100px;
}

.icon_website {
  background-position: 64.1025641025641% 0;
}

.icon_website-dims {
  width: 100px;
  height: 100px;
}

.mail-icon {
  background-position: 18.88412017167382% 96.61835748792271%;
}

.mail-icon-dims {
  width: 23px;
  height: 16px;
}

.next-control {
  background-position: 91.32420091324201% 44.623655913978496%;
}

.next-control-dims {
  width: 37px;
  height: 37px;
}

.next-control-hover {
  background-position: 91.32420091324201% 24.731182795698924%;
}

.next-control-hover-dims {
  width: 37px;
  height: 37px;
}

.open-arrow-white {
  background-position: 95.2% 50.70422535211268%;
}

.open-arrow-white-dims {
  width: 6px;
  height: 10px;
}

.phone-icon {
  background-position: 87.71929824561404% 80.51282051282051%;
}

.phone-icon-dims {
  width: 28px;
  height: 28px;
}

.previous-control {
  background-position: 91.32420091324201% 64.51612903225806%;
}

.previous-control-dims {
  width: 37px;
  height: 37px;
}

.search-icon {
  background-position: 98.7551867219917% 36.53846153846154%;
}

.search-icon-dims {
  width: 15px;
  height: 15px;
}

.video-icon {
  background-position: 100% 9.852216748768473%;
}

.video-icon-dims {
  width: 18px;
  height: 20px;
}

.video-icon-white {
  background-position: 100% 0;
}

.video-icon-white-dims {
  width: 18px;
  height: 20px;
}

